* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://cdn.dribbble.com/users/388048/screenshots/10008095/northern_illustrations_ticket-office-01_4x.jpg")
    no-repeat center center;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

main div {
  padding: 1.5rem;
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;
  top: 8rem;
}

p {
  margin-top: 1rem;
}
